<h1>Edit as descricoes</h1>

<%= simple_form_for @cocktail do |f|  %>
  <span class="span"> f.input :name </span>
  <span class="span"> <% link_to "index" %>  <%= f.submit  class:"btn btn-primary"%></span>
  <% end %>
